/* src/assets/css/JoinUs.css */

.join-us-container {
  position: relative;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
}

.hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: brightness(120%);
}

.hero-content {
  max-width: 600px;
  padding: 20px;
}

.hero-content h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.sign-up-button {
  padding: 10px 20px;
  font-size: 1.2rem;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  width: 120px;
  transition: background-color 0.3s ease;
}

.sign-up-button:hover {
  background-color:#e0e0e0;
}